$primary-main: #3f51b5; // Remplacez par votre couleur primaire
$primary-light: #757de8; // Remplacez par votre couleur primaire claire
$primary-dark: #002984; // Remplacez par votre couleur primaire foncée
$primary-contrast: #ffffff; // Remplacez par votre couleur de contraste primaire